* {
  margin: 0;
  padding: 0; }

.wai {
  padding-left: 20px;
  padding-right: 20px;
  width: 326px;
  height: 400px;
  background: rgba(0, 0, 0, 0.5); }
  .wai .top h2 {
    font-weight: bolder;
    color: white;
    padding-top: 26px; }
  .wai .jine {
    width: 282px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between; }
    .wai .jine p {
      color: white;
      font-size: 12px; }
  .wai .qian {
    position: relative;
    margin-top: 6px;
    width: 282px; }
    .wai .qian .input {
      width: 100%;
      height: 44px;
      background-color: #fff;
      margin-bottom: 10px; }
      .wai .qian .input .left {
        width: 235px;
        height: 44px;
        border-right: 1px solid #ccc;
        position: relative; }
        .wai .qian .input .left input {
          width: 235px;
          height: 44px;
          font-size: 14px;
          color: #808080; }
        .wai .qian .input .left span {
          font-size: 14px;
          color: #808080;
          position: absolute;
          right: 1px;
          top: 12px; }
      .wai .qian .input .right {
        width: 45px;
        height: 44px;
        position: relative;
        cursor: pointer; }
        .wai .qian .input .right input {
          width: 45px;
          height: 44px;
          cursor: pointer; }
        .wai .qian .input .right span {
          position: absolute;
          top: 50%;
          left: 50%;
          margin-left: -6.29px;
          margin-top: -11px;
          color: #808080;
          text-align: center; }
          .wai .qian .input .right span img {
            width: 100%; }
        .wai .qian .input .right .s1, .wai .qian .input .right .s3 {
          display: block; }
        .wai .qian .input .right .s2, .wai .qian .input .right .s4 {
          display: none; }
    .wai .qian ul {
      width: 282px;
      border-top: 1px solid #ccc;
      background-color: #fff;
      position: absolute;
      top: 45px;
      left: 0;
      z-index: 111; }
      .wai .qian ul li {
        width: 273px;
        background-color: #fff;
        padding: 5px; }
      .wai .qian ul li:hover {
        background-color: #C6D6E7;
        cursor: pointer; }
    .wai .qian .ul1 {
      display: none; }
    .wai .qian .ul2 {
      display: none; }
  .wai .sou {
    margin-top: 18px; }
    .wai .sou input {
      width: 282px;
      height: 44px;
      background: #0094ef;
      border: 1px solid #0094ef;
      color: white;
      font-size: 16px; }
  .wai .dibu {
    width: 282px;
    margin-top: 18px; }
    .wai .dibu p {
      text-align: center;
      color: white;
      font-size: 12px; }
